{% if site.data.highlights and site.data.highlights.size > 0 %}
<div class="row mt-3">
    <div class="col">
        <div class="bg-white shadow-sm rounded-sm p-3">
            <div class="d-flex flex-wrap">
                {% for h in site.data.highlights %}
                <div class="mr-2 mb-2">
                    {% if h.url %}<a target="_blank" href="{{ h.url }}" class="text-decoration-none">{% endif %}
                    <span class="badge badge-pill badge-light border px-3 py-2">
                        <i class="{{ h.icon }} mr-1 text-primary"></i>{{ h.text }}
                    </span>
                    {% if h.url %}</a>{% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
